.cardDetail{
    display: flex;
    background-color: #282c34;
    height: fit-content;
    justify-content: center;
}

.innerCardDetail{
    margin: 30px;
    padding-bottom: 25px;
    padding-right: 25px;
    padding-left: 20px;
    background-color: white;
    border-radius: 25% 10%;
    height: 500px;

    
}

p{
    width: 50%;
    margin: auto;
    padding: 15px 15px;

    
}

.volver{
    
}